.homepage-flex,
.formpage-flex,
.needpage-flex {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.homepage-flex > div {
  margin: 0 30px;
  height: 150px;
}
.homepage-flex div.ui.card {
  height: 150px;
  display: flex;
  align-items: center;
}
.homepage-flex div.ui.card .content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  text-align: center;
}
.form {
  max-width: 500px;
  width: 400px;
}

.message {
  transition: all 0.5s;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.cards-container > div.ui.card {
  width: 40% !important;
}

.ui.card {
  margin-top: 0 !important;
}
.sidebar {
  align-items: center;
  display: flex !important;
  justify-content: center;
}
.sidebar a {
  width: 100%;
  padding: 30px 0 !important;
}
.sidebar-toggle {
  position: absolute;
  top: 50px;
  right: 30px;
  cursor: pointer;
}
.sidebar-toggle.inside-sidebar {
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
  .homepage-flex {
    flex-direction: column;
  }
  .homepage-flex > div:not(.sidebar-toggle) {
    margin: 20px 0;
  }
  .cards-container {
    flex-direction: column;
  }
  .cards-container > div.ui.card {
    width: 100% !important;
  }
}
@media only screen and (max-width: 500px) {
  .form {
    width: 85%;
  }
  .form form {
    width: 100%;
  }
}
